@import "scss/_media";
@import "scss/_colors";
@import "scss/_layout";

// #region Font

@font-face {
  font-family: AvenirNextLTPro-Medium;
  src: url(./fonts/AvenirNextLTPro-Medium.ttf);
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url(./fonts/AvenirNextLTPro-Bold.ttf);
}
@font-face {
  font-family: AvenirNextLTPro-Demi;
  src: url(./fonts/AvenirNextLTPro-Demi.ttf);
}

// #endregion

// #region Html, Body

html {
  box-sizing: border-box;
  background: transparent;
  overflow: hidden;
  cursor: default;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;

  @include for-theme(light) {
    background-color: $light_backgroundColor;
    color: $light_primaryColor;
  }

  @include for-theme(dark) {
    background-color: $dark_backgroundColor;
    color: $dark_primaryColor;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

// #endregion

// #region Text

@mixin primaryText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  @include for-theme(light) {
    color: $light_primaryColor;
  }
  @include for-theme(dark) {
    color: $dark_primaryColor;
  }
}

.heroHeaderText {
  margin: 50px 0 0 24px;
  font-family: AvenirNextLTPro-Bold, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.3px;
  font-size: 22px;
  @include for-theme(light) {
    color: $light_gray_900;
  }
  @include for-theme(dark) {
    color: $dark_primaryColor;
  }
}

.primaryText {
  @include primaryText;
}

.primaryBoldText {
  @include primaryText;
  font-weight: 700;
}

@mixin primaryMediumText {
  @include primaryText;
  font-size: 15px;
}

.primaryMediumText {
  @include primaryMediumText;
}

@mixin primaryBigText {
  @include primaryText;
  font-size: 25px;
  margin-bottom: 10px;
}

.primaryBigText {
  @include primaryBigText;
}

@mixin secondaryText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;

  @include for-theme(light) {
    color: $light_secondaryColor;
  }
  @include for-theme(dark) {
    color: $dark_secondaryColor;
  }
}

@mixin titleText {
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;

  @include for-theme(light) {
    color: $light_secondaryColor;
  }
  @include for-theme(dark) {
    color: $dark_secondaryColor;
  }
}

.secondaryText {
  @include secondaryText;
}

// #endregion

// #region Window, backgrounds, and panels

.draggableArea {
  position: absolute;
  width: 100vw;
  height: 30px;
  background-color: transparent;
  z-index: 1;

  span {
    @include secondaryText();
  }
}

.dotted {
  background: transparent;
  background-size: 20px 20px;
  background-position: -19px -19px;

  @include for-theme(light) {
      background-image: radial-gradient($light_backgroundColor_300 1px, transparent 0);
  }

  @include for-theme(dark) {
      background-image: radial-gradient($dark_backgroundColor_300 1px, transparent 0);
  }
}

.layoutPanel {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba($color: #000000, $alpha: 0.15) 0 2px 16px 0;

  @include for-theme(light) {
      background-color: $light_backgroundColor;
  }

  @include for-theme(dark) {
      background-color: $dark_backgroundColor_500;
  }
}

// #endregion

// #region Bottom Bar

.bottomBar {
  // height:60px;
  @include for-theme(light) {
    background-color: $light_bottomBarBackgroundColor;
    border-top: 1px solid $light_bottomBarBorderColor;
  }
  @include for-theme(dark) {
    background-color: $dark_bottomBarBackgroundColor;
    border-top: 1px solid $dark_bottomBarBorderColor;
  }
}

.actionsRow {
  @include horizontalLayout;
  @include alignVerticalCenter;
  padding: 10px 10px 10px 20px;
}

// #endregion

// #region Buttons

@mixin btnPrimary {
  border: none;
  width: 150px;
  height: 34px;
  border-radius: 17px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  @include alignHorizontalCenter;
  outline: none;
  font-family: AvenirNextLTPro-Demi, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  background-color: $accentColor;
  transition: all 0.1s ease-out;
  color: $dark_inverseColor;
  margin-left: 5px;

  &:hover {
    background-color: $accentColorHover;
    outline: none;
  }
  &:active {
    background-color: $accentColorActive;
    border-color: $accentColorActive;
    outline: none;
  }

  &:disabled {
    background-color: $accentColor;
    border-color: $accentColor;
    outline: none;
    opacity: 0.3;
  }
}

.btnPrimary {
  @include btnPrimary;

  &.xl {
    width: 170px;
  }
}

@mixin btnSecondary {
  @include for-theme(light) {
    border: 1px solid $light_btnSecondaryBorderColor;
  }
  @include for-theme(dark) {
    border: 1px solid $dark_btnSecondaryBorderColor;
  }
  background-color: transparent;
  width: 100px;
  height: 34px;
  border-radius: 17px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  @include alignHorizontalCenter;
  outline: none;
  font-family: AvenirNextLTPro-Demi, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;

  @include for-theme(light) {
    color: $light_primaryColor;
  }
  @include for-theme(dark) {
    color: $dark_inverseColor;
  }

  &:hover {
    @include for-theme(light) {
      background-color: $light_btnSecondaryBackgroundHover;
      border-color: $accentColorHover;
      color: $accentColorDarkText;
    }
    @include for-theme(dark) {
      background-color: $dark_btnSecondaryBackgroundHover;
      border-color: $accentColorHover;
    }
    outline: none;
  }
  &:active {
    @include for-theme(light) {
      background-color: $light_btnSecondaryBackgroundActive;
      border-color: $accentColorActive;
    }
    @include for-theme(dark) {
      background-color: $dark_btnSecondaryBackgroundActive;
      border-color: $accentColorActive;
    }
    outline: none;
  }
}

.btnSecondary {
  @include btnSecondary;
}

@mixin btnTertiary {
  border: 1px solid transparent;
  background-color: transparent;
  width: 100px;
  height: 34px;
  border-radius: 17px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  @include alignHorizontalCenter;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;

  @include for-theme(light) {
    color: $light_secondaryColor;
  }
  @include for-theme(dark) {
    color: $dark_secondaryColor;
  }

  &:hover {
    @include for-theme(light) {
      border-color: $accentColorHover;
      color: $accentColorDarkText;
    }
    @include for-theme(dark) {
      border-color: $accentColorHover;
      color: $dark_primaryColor;
    }
    outline: none;
  }
  &:active {
    @include for-theme(light) {
      border-color: $accentColorActive;
    }
    @include for-theme(dark) {
      border-color: $accentColorActive;
    }
    outline: none;
  }
}

.btnTertiary {
  @include btnTertiary;
}

@mixin btnPrimaryRegular {
  border: none;
  width: 100%;
  height: 24px;
  border-radius: 4px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;

  background-color: $accentColor;
  color: $light_inverseColor;

  svg {
    #bg {
      fill: #ffffff;
    }
    #lines,
    #dots {
      stroke: #ffffff;
    }
  }

  &:hover {
    background-color: $accentColorHover;
    outline: none;
  }
  &:active {
    background-color: $accentColorActive;
    outline: none;
  }
}

@mixin btnSecondaryRegular {
  border: none;
  width: 100%;
  height: 24px;
  border-radius: 4px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;

  @include for-theme(light) {
    background-color: rgba($light_gray_500, 0);
    border: 1px solid $light_gray_500;
    color: $light_primaryColor;
  }
  @include for-theme(dark) {
    background-color: $dark_gray_500;
    color: $dark_inverseColor;
  }

  &:hover {
    @include for-theme(light) {
      background-color: rgba($light_gray_500_hover, 0.2);
      border: 1px solid $light_gray_500_hover;
    }
    @include for-theme(dark) {
      background-color: $dark_gray_500_hover;
    }
    outline: none;
  }
  &:active {
    @include for-theme(light) {
      background-color: rgba($light_gray_500_pressed, 0.1);
      border: 1px solid $light_gray_500_pressed;
    }
    @include for-theme(dark) {
      background-color: $dark_gray_500_pressed;
    }
    outline: none;
  }
}

@mixin btnTertiaryRegular {
  border: none;
  width: 100%;
  height: 24px;
  border-radius: 4px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  outline: none;
  font-family: AvenirNextLTPro-Medium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  transition: all 0.1s ease-out;

  @include for-theme(light) {
    svg {
      #bg {
        fill: #727272;
      }
      #lines,
      #dots {
        stroke: #727272;
      }
    }
  }
  @include for-theme(dark) {
    svg {
      #bg {
        fill: #ffffff;
      }
      #lines,
      #dots {
        stroke: #ffffff;
      }
    }
  }

  @include for-theme(light) {
    background-color: rgba($light_gray_500, 0);
    border: 1px solid $light_gray_500;
    color: $light_primaryColor;
  }
  @include for-theme(dark) {
    background-color: rgba($dark_gray_500, 0);
    border: 1px solid $dark_gray_500;
    color: $dark_primaryColor;
  }

  &:hover {
    @include for-theme(light) {
      background-color: rgba($light_gray_500_hover, 0.2);
      border: 1px solid $light_gray_500_hover;
    }
    @include for-theme(dark) {
      background-color: rgba($dark_gray_500_hover, 0.2);
      border: 1px solid $dark_gray_500_hover;
    }
    outline: none;
  }
  &:active {
    @include for-theme(light) {
      background-color: rgba($light_gray_500_pressed, 0.1);
      border: 1px solid $light_gray_500_pressed;
    }
    @include for-theme(dark) {
      background-color: rgba($dark_gray_500_pressed, 0.1);
      border: 1px solid $dark_gray_500_pressed;
    }
    outline: none;
  }
}

.btnPrimaryRegular {
  @include btnPrimaryRegular;
}

.btnSecondaryRegular {
  @include btnSecondaryRegular;
}

.btnTertiaryRegular {
  @include btnTertiaryRegular;
}

.btnMesh {
  @include btnTertiaryRegular;
  border-radius: 13px;
  height: 26px;
  width: 42px;
  margin: 0 8px 8px 0;

  &.selected {
    border: 1px solid $accentColor;
    background: rgba($accentColor, 0.2);
  }
}

// #endregion

// #region Registration

.registerHeader {
  @include primaryMediumText;
  font-size: 32px;
  text-align: center;
}

.registerText {
  @include secondaryText;

  width: 400px;
  margin: 10px 0 30px 0;
  text-align: center;
}

.btnStartTrial {
  @include btnSecondary;
  width: 200px;
}

.btnGetItNow {
  @include btnPrimary;
  width: 200px;
}

.btnAlreadyLicense {
  @include btnTertiary;
  width: 200px;
  margin-top: 30px;
}

.registerLogo {
  margin-bottom: 20px;
  width: 160px;

  path {
    @include for-theme(light) {
      fill: $light_primaryColor;
    }
    @include for-theme(dark) {
      fill: $dark_primaryColor;
    }
  }
}

#ctaForm {
  opacity: 1;
  //transition: all 0.3s ease-in-out;
  transition: transform 0.3s ease-out, opacity 0.3s 0.1s ease-out;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#registerForm {
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 50px);
  transition: all 0.3s ease-out;
}

#confirmationForm {
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 50px);
  transition: all 0.3s ease-out;
}

#startTrialForm {
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 50px);
  transition: all 0.3s ease-out;
}

// #endregion

// #region Animations (fades)

.fadeIn {
  transition: visibility 0s, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
}

.deferredFadeIn {
  transition: visibility 0s, opacity 0.2s 0.2s linear;
  visibility: visible;
  opacity: 1;
}

.fadeOut {
  transition: opacity 0.5s linear, visibility 0s 0.5s;
  opacity: 0;
  visibility: hidden;
}

.quickFadeOut {
  transition: opacity 0.2s linear, visibility 0s 0.2s;
  opacity: 0;
  visibility: hidden;
}

.movingYFadeInitialState {
  transition: transform 0.3s ease-out, opacity 0.3s 0.1s ease-out;
  transform: translateY(30px);
  opacity: 0;
}

.movingYFadeIn {
  transform: translateY(0px);
  opacity: 1;
}

.movingYFadeOut {
  transition: opacity 0.15s ease-out, transform 0s 0.3s ease-out !important;
  transform: translateY(30px);
  opacity: 0;
}


@mixin animatedDiv {
  .yFadeIn {
    transition: visibility 0s, transform 0.3s ease-out, opacity 0.3s ease-out !important;
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate(-50%, 0px) !important;
  }

  .yFadeOut {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0.3s !important;
    visibility: hidden !important;
    opacity: 0 !important;
    transform: translate(-50%, -50px) !important;
  }
}

.animatedDiv {
  @include animatedDiv;
}

// #endregion

// #region Tabs

.separatorBelow {
  @include for-theme(light) {
    border-bottom: 1px solid $light_bottomBarBorderColor;
  }
  @include for-theme(dark) {
    border-bottom: 1px solid $dark_bottomBarBorderColor;
  }
}

.tabButton {
  background-color: transparent;
  border: none;
  @include primaryText;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 52px;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    @include for-theme(light) {
      background-color: rgba($accentColor, 0.05);
    }

    @include for-theme(dark) {
      background-color: rgba($dark_primaryColor, 0.05);
    }
  }
  &:active {
    @include for-theme(light) {
      background-color: rgba($accentColor, 0.1);
    }

    @include for-theme(dark) {
      background-color: rgba($dark_primaryColor, 0.01);
    }
  }
}

.tabIndicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: $accentColor;
  width: 50%;
  left: 0;
  transition: left 0.1s ease-in-out;
}

.tabContent {
  padding: 24px;
}

// #endregion

// #region Checkbox

@mixin roundCheckbox($bgColor, $marginBottom) {
  position: relative;
  margin-bottom: $marginBottom;

  .padder {
    width: 160px;
    height: 100%;
    background-color: transparent;
  }

  label {
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    z-index: 30;
    left: 0;
    position: absolute;
    top: 0;
    background-color: transparent;
    border: 2px solid;
    transition: all 0.1s;

    @include for-theme(light) {
      border-color: $light_gray_500;
    }
    @include for-theme(dark) {
      border-color: $dark_gray_500;
    }

    &:hover {
      @include for-theme(light) {
        border-color: $light_gray_500_hover;
      }
      @include for-theme(dark) {
        border-color: $dark_gray_500_hover;
      }
    }

    &:active {
      @include for-theme(light) {
        border-color: $light_gray_500_pressed;
      }
      @include for-theme(dark) {
        border-color: $dark_gray_500_pressed;
      }
    }

    span {
      left: 25px;
      width: 140px;
      position: absolute;
      @include secondaryText;

      &.longLabel {
        width: 500px;
      }
    }
  }

  label:after {
    border: 2px solid white;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 10px;
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  input[type="checkbox"]:checked + label {
    background-color: $bgColor;
    border-color: $bgColor;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}

.roundCheckbox {
  @include roundCheckbox($accentColor, 7px);
}

// #endregion

// #region Scroll

div::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @include for-theme(light) {
    background-color: $light_scrollThumbColor;
  }
  @include for-theme(dark) {
    background-color: $dark_scrollThumbColor;
  }

  &:hover {
    @include for-theme(light) {
      background-color: $light_scrollThumbColorHover;
    }
    @include for-theme(dark) {
      background-color: $dark_scrollThumbColorHover;
    }
  }

  &:active {
    @include for-theme(light) {
      background-color: $light_scrollThumbColorActive;
    }
    @include for-theme(dark) {
      background-color: $dark_scrollThumbColorActive;
    }
  }
}

// #endregion

// #region Input

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;

  .tooltipText {
    visibility: hidden;
    width: 240px;
    @include for-theme(light) {
      background-color: $light_tooltipColor;
    }
    @include for-theme(dark) {
      background-color: $dark_tooltipColor;
    }
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 7px;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      @include for-theme(light) {
        border-color: $light_tooltipColor transparent transparent transparent;
      }
      @include for-theme(dark) {
        border-color: $dark_tooltipColor transparent transparent transparent;
      }
    }

    span {
      @include primaryText;
    }
  }

  &:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
}

.warningText {
  @include primaryText;
  color: $warningColor !important;
  margin: 20px 0 0 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0.3s;
}

.warningTextVisible {
  transition: visibility 0s, height 0.3s ease-out, opacity 0.3s ease-out;
  visibility: visible;
  height: 35px;
  opacity: 1;
}

input[type="text"] {
  padding: 8px 12px;
  width: 305px;
  height: 34px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  @include primaryText;
  @include for-theme(light) {
    background-color: $light_inputBackgroundColor;
    border: 1px solid $light_inputBorderColor;
  }
  @include for-theme(dark) {
    background-color: $dark_inputBackgroundColor;
    border: 1px solid $dark_gray_300;
  }
}

// #endregion 

// #region Links(a)

a {
  color: inherit;
}

// #endregion 

// #region Settings

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin-right: 15px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.settingsRow {
  width: 320px;
  margin-bottom: 10px;
}

.detailsRow {
  .detailsTitle {
    margin-top: 4px;
    margin-bottom: 5px;
  }
}

.settingsDescription {
  padding: 0 50px 15px 50px;
}

// #endregion

// #region Left Panel (Create own gradient, collection)

.leftPanel {
  width: 320px;
  margin: 20px 0 50px 20px;
  transition: width 0.3s ease-in-out;

  &.collapsed {
      width: 48px;

      &:hover {
          .collapseLeftPanel {
              div {
                  @include for-theme(light) {
                      background-color: $light_backgroundColor_300;
                  }

                  @include for-theme(dark) {
                      background-color: $dark_backgroundColor_300_hover;
                  }
              }
          }
      }
  }
}

.collapseLeftPanel {
  position: absolute;
  right: -13px;
  top: 15px;
  width: 26px;
  height: 26px;
  z-index: 1;

  div {
      box-shadow: rgba($color: #000000, $alpha: 0.15) 0 2px 16px 0;

      @include for-theme(light) {
          background-color: $light_inverseColor;
      }

      @include for-theme(dark) {
          background-color: $dark_backgroundColor_300;
      }

      border-radius: 4px;
      transform: rotate(45deg);
      width: 100%;
      height: 100%;

      &:hover {
          @include for-theme(light) {
              background-color: $light_backgroundColor_300;
          }

          @include for-theme(dark) {
              background-color: $dark_backgroundColor_300_hover;
          }
      }

      &:active {
          @include for-theme(light) {
              background-color: $light_backgroundColor_200;
          }

          @include for-theme(dark) {
              background-color: $dark_backgroundColor_300_pressed;
          }
      }
  }

  svg {
      position: absolute;
      top: 8px;
      left: 8px;
      pointer-events: none;
      transition: transform 0.3s ease-in-out;
  }

  &.collapsed {
      svg {
          transform: rotate(180deg);
          left: 11px;
      }

      right: 10px;
  }
}

.titleText {
  @include titleText;
  font-size: 12px;
  font-weight: 600;
}

.titleSpacing {
  margin-bottom: 16px;
}

.collapsedPanelText {
  @include titleText;
  position: absolute;
  transform: rotate(270deg);
  transform-origin: 0 0;
  width: 180px;
  top: 200px;
  left: 20px;
}

.formColor {
  margin-bottom: 8px;
}

.contentSection {
  margin-bottom: 32px;
}

.gradientCollectionContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  column-gap: 24px;
  row-gap: 16px;
  width: 272px;
}

.gradientThumbnail {
  height: 60px;
  border-radius: 4px;
  padding: 3px;

  @include for-theme(light) {
    background-color: $light_backgroundColor_200;
  }
  @include for-theme(dark) {
    background-color: $dark_gray_400;
  }

  &:hover {
    @include for-theme(light) {
      background-color: $light_backgroundColor_300;
    }
    @include for-theme(dark) {
      background-color: $dark_gray_300;
    }
  }

  &:active {
    @include for-theme(light) {
      background-color: rgba($accentColor, 0.3);
    }
    @include for-theme(dark) {
      background-color: $dark_gray_500;
    }
  }

  img {
    border: none;
    width: 100%;
    height: 100%;
  }

  &.selected {
    @include for-theme(light) {
      background-color: $accentColor;
    }
    @include for-theme(dark) {
      background-color: $dark_primaryColor;
    }

    img {
      @include for-theme(light) {
        border: 1px solid $light_backgroundColor;
      }
      @include for-theme(dark) {
        border: 1px solid $dark_backgroundColor_500;
      }
    }
  }
}

// #endregion

// #region Custom colors picker

.customColors {
  .label {
    @include secondaryText;
    font-family: AvenirNextLTPro-Demi, -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100px;
  }

  .colorField {
    @include btnTertiaryRegular;

    height: 32px;
    padding: 2px;

    .colorThumbnail {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: transparent;
      margin: 0 8px 0 4px;
    }
  }
}

.customColorPicker {
  position: absolute;
  z-index: 40;
  .a-color-picker {
    box-shadow: rgba($color: #000000, $alpha: 0.15) 0 2px 16px 0 !important;
  }
}

// #endregion

// #region Right panel (color picker)

.controlPointEmptyState {
  @include secondaryText();
  position: absolute;
  left: 50%;
  top: 150px;
  width: 200px;
  text-align: center;
  span {
    left: -50%;
  }
}

.cpActions {
  margin: 12px 0 16px 0;

  .btnPrimaryRegular,
  .btnTertiaryRegular {
      width: 56px;
      margin-right: 8px;
  }
}

.rightColorPicker {
  margin: 20px 20px 0 0;
  padding: 20px;
  width: 272px;
  height: 423px;
}

.colorPicker {
  .a-color-picker {
    @include secondaryText;
    border-radius: 10px;
    box-shadow: none;
    @include for-theme(light) {
      background-color: $light_backgroundColor;
    }

    @include for-theme(dark) {
      background-color: $dark_backgroundColor_400;
    }

    .a-color-picker-row,
    .a-color-picker-clipbaord,
    .a-color-picker-circle {
      border: none;
    }
    .a-color-picker-sl {
      border-radius: 10px 10px 0 0;
    }

    .a-color-picker-row:not(:first-child) {
      padding: 10px 16px;
    }

    .a-color-picker-dot {
      width: 15px;
      height: 15px;
      background-color: transparent;
      @include for-theme(light) {
        border: 2px solid $light_inverseColor;
      }
      @include for-theme(dark) {
        border: 2px solid $dark_inverseColor;
      }
      box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
      top: 0;
    }

    .a-color-picker-h {
      border-radius: 4px;
    }

    .a-color-picker-preview {
      border: none;
      border-radius: 4px;
    }

    input {
      @include primaryText;
      background: transparent;
      border-radius: 4px;
      @include for-theme(light) {
        border: 1px solid $light_gray_500;
      }
      @include for-theme(dark) {
        border: 1px solid $dark_gray_500;
      }
    }
  }
}

// #endregion

// #region Warning dialog

.overlay {
  @include flex;
  @include alignVerticalCenter;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.warning {
  width: 470px;
  padding: 24px;
  margin: 0 auto;
  background-color: $dark_backgroundColor;
  border-radius: 8px;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5);

  .icon {
    width: 52px;
    height: 42px;
    margin: 16px auto 24px auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    @include primaryText;
    text-align: center;
    margin-bottom: 12px;
  }

  .description {
    @include secondaryText;
    text-align: center;
    margin-bottom: 32px;
    line-height: 18px;
  }

  .roundCheckbox {
    top: 5px;
    margin: 0;
  }

  .actions {
    button {
      width: 90px;
    }
  }
}

// #endregion

// #region Editor

.meshEditor {
  margin: 20px 20px;
  overflow: visible !important;
  width: calc(100% - 40px);
  height: calc(100% - 70px);
  z-index: 10;
}

.gradient-mesh {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  cursor: pointer;

  &.editing {
    cursor: default;
    user-select: none;

    .control-point {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 0;
      left: 0;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 12px;
      cursor: grab;
      transform: translate(-50%, -50%);
      box-shadow: rgba(0, 0, 0, 0.5) 0 2px 6px 0;
    
      &.highlighted {
        background-color: #ffffff;
      }
    
      &.moving {
        cursor: grabbing;
      }

      &.active{
        .tangent-point {
          display: block;

          &.hidden {
            display: none;
          }
        }
      } 
    }

    .tangent-point {
      display: none;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: white;
      cursor: grab;
      box-shadow: rgba(0, 0, 0, 0.3) 0 2px 6px 0;
    
      &.moving {
        cursor: grabbing;
      }
    }
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
}

.shortcutHints {
  position: absolute;
  bottom: 18px;
  left: 50%;
  @include secondaryText;

  .horizontalLayout {
    position: relative;
    left: -50%;

    div {
      width: 140px;
      &:first-child {
        margin-right: 48px;
      }
    }
  }

  .shortKey {
    @include for-theme(light) {
      border: 1px solid $light_secondaryColor;
    }
    @include for-theme(dark) {
      border: 1px solid $dark_secondaryColor;
    }

    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 4px;
  }
}

.rubberBand{
  position: absolute;
  background-color: rgba($accentColor, 0.1);
  border:1px solid rgba($accentColor, 1);
  width: 100px;
  height: 100px;
  z-index: 10;
}


// #endregion
