$accentColor: #235FFF;
$accentColorHover:#4274ff;
$accentColorActive: #1b4edb;
$accentColorDarkText: #1b52e9;


$light_backgroundColor:#F9F9F9;
$light_backgroundColor_300:#DFDFDF;
$light_backgroundColor_200:#E9E9E9;
$light_gray_900:#646464;
$light_gray_500:#BBBBBB;
$light_gray_500_hover:#CCCCCC;
$light_gray_500_pressed:#AAAAAA;

$light_primaryColor: #323232;
$light_secondaryColor: #868688;

$light_inverseColor: #ffffff;

$light_bottomBarBackgroundColor:#F0F0F0;
$light_bottomBarBorderColor:#DDDDDD;

$light_inputBorderColor:#D6D6E3;

$light_btnSecondaryBorderColor: #9797A9;
$light_btnSecondaryBackgroundHover: rgba($accentColor,0.1); 
$light_btnSecondaryBackgroundActive: rgba($accentColor,0.2);


$light_scrollThumbColor: #C9C9C9;
$light_scrollThumbColorHover: #B9b9b9;
$light_scrollThumbColorActive: #a9a9a9;

$light_tooltipColor:#FFFFFF;

$light_inputBackgroundColor: #FFFFFF;
$light_inputBorderColor: #A9A9A9;



$dark_backgroundColor:#212123;

$dark_backgroundColor_500:#28282A;
$dark_backgroundColor_400:#2F2F32;
$dark_backgroundColor_300:#37373A;
$dark_backgroundColor_300_hover:#434346;
$dark_backgroundColor_300_pressed:#303033;
$dark_backgroundColor_200:#3e3b3b;

$dark_gray_500:#454649;
$dark_gray_500_hover:#545558;
$dark_gray_500_pressed:#35363a;
$dark_gray_400:#515255;
$dark_gray_300:#6A6A6A;

$dark_primaryColor: #ffffff;
$dark_secondaryColor: #949494;

$dark_inverseColor: #ffffff;

$dark_bottomBarBackgroundColor:#28282D;
$dark_bottomBarBorderColor:#4D4D4D;

$dark_btnSecondaryBorderColor: #9595A8;
$dark_btnSecondaryBackgroundHover: rgba($accentColor,0.1);
$dark_btnSecondaryBackgroundActive: rgba($accentColor,0.2);

$dark_scrollThumbColor: #424242;
$dark_scrollThumbColorHover: #606060;
$dark_scrollThumbColorActive: #323232;

$dark_tooltipColor:#39393E;

$dark_inputBackgroundColor: #28282A;

$warningColor: #FF6D6D;
$confirmationColor: #9AEF6F;



