

.hotkey-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #0024;
  border: none;
  padding: 1rem;
  border-radius: 3px;
}
.hotkeys {
  position: absolute;
  left: inherit;
  margin: 3rem;
}

.meshEditor{
  margin: 20px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 70px);
}

.gradient-mesh {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  cursor: pointer;
}

.gradient-mesh.editing {
  cursor: default;
  user-select: none;
}

.gradient-mesh canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  // z-index: -1;
}

.gradient-mesh.editing .control-point {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 12px;
  cursor: grab;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0,0,0,0.3) 0 2px 6px 0;

  &.highlighted{
    background-color: #ffffff;
  }
}


.gradient-mesh.editing .tangent-point {
  display: none;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(0,0,0,0.3) 0 2px 6px 0;
}

.gradient-mesh .control-point.active .tangent-point {
  display: block;
}

.gradient-mesh .control-point.active .tangent-point.hidden {
  display: none;
}

.color-editor {
  // display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 40px;
  background-color: #0024;
  padding: 24px 12px;
  border-radius: 3px;
}

.color-editor.editing {
  display: flex;
}

.color-editor input.slider {
  margin-top: 30px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #ffffff88;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.color-editor input.slider:hover {
  opacity: 1;
}

.color-editor input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.color-editor input.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.color-editor__indicator {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}
